* {
    box-sizing: border-box;
}
.body{
    max-width: 60em;
    margin: 1em auto;
    background-color: #F596D3;
    font-family: 'Domine', serif;
    
}
/* - - GRID AREA - - */

.haus {
    grid-area: haus;
    font-family: 'IBM Plex Serif', serif;
}
.topnav{
    grid-area: topnav;
}
.main{
    grid-area: main;
}
.foot{
    grid-area: foot;

}
/* - -  dálkar í main - - */
.as1{
    grid-area: as1; 
}
.as2{
    grid-area: as2; 
}
.art{
    grid-area: art;
    background-color: #F596D3;
}
/* - -  template area - - */
.body{
    display: grid;
    grid-gap: 0;
    grid-template-areas: 
        "haus"
        "topnav"
        "main"
        "foot"
}
.main{
    display: grid;
    grid-gap:2em;
    grid-template-areas: 
        "as1"
        "art"
        "as2";
    grid-template-columns: 5fr;
    padding: 0 2em;
    background-color: rgb(241, 159, 213);
}
/* - - topmenu - -*/
.topmenu , .footmenu{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0;
    padding: 1em 0 ;
    background-color: #FFB5E5;
}
.topmenu li , .footmenu li{
    list-style-type: none;
}
.haus{
    text-align: center;
}
.as1 , .as2 , .art{
    text-align: center 
}